## Employee Attrition Analysis and Prediction
###### Project Overview
- This project aims to analyze and predict employee attrition at Acme Corporation. High employee turnover is a significant concern for organizations, as it impacts team dynamics, project continuity, and overall morale. Through this analysis, we aim to understand the factors influencing employee attrition and develop a predictive model to identify employees at risk of leaving the company.

In [4]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#load the dataset
data = pd.read_csv("train.csv")

In [6]:
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [17]:
y = 1
for i in data.columns:
    print(f"{y} - {i}")
    y = y + 1

1 - Age
2 - Attrition
3 - BusinessTravel
4 - DailyRate
5 - Department
6 - DistanceFromHome
7 - Education
8 - EducationField
9 - EmployeeCount
10 - EmployeeNumber
11 - EnvironmentSatisfaction
12 - Gender
13 - HourlyRate
14 - JobInvolvement
15 - JobLevel
16 - JobRole
17 - JobSatisfaction
18 - MaritalStatus
19 - MonthlyIncome
20 - MonthlyRate
21 - NumCompaniesWorked
22 - Over18
23 - OverTime
24 - PercentSalaryHike
25 - PerformanceRating
26 - RelationshipSatisfaction
27 - StandardHours
28 - StockOptionLevel
29 - TotalWorkingYears
30 - TrainingTimesLastYear
31 - WorkLifeBalance
32 - YearsAtCompany
33 - YearsInCurrentRole
34 - YearsSinceLastPromotion
35 - YearsWithCurrManager